# Ignore everything
*

# But not these files...
!.gitignore
!amproxy/
!amproxy/**
!template.latex
!docker-compose.yaml.template
!make
!install
!deploy
!README.md
!hooks/
!hooks/**
!requirements.txt
!release.sh
!setup.py