---
services:

### NON ITERABLE CONTAINER BLOCK ###
# put your non iterable container here, use 4 spaces as indentation

### ITERABLE CONTAINER BLOCK ###
    ${app}-${no}:
        image: areesmoon/hello-world-php
        container_name: ${app}-${no}
        restart: always
        extra_hosts:
            - "host.docker.internal:host-gateway"